:root
{
    --main-color1: #04080e;
    --main-color2: #303c58;
    --main-color3: #b9f373;
    --anim-color1: red;
}

html
{
    font-family:Georgia, 'Times New Roman', Times, serif;
}
*, ::before, ::after
 {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
 }

 header
 {
    position: fixed;
    width: 100%;
 }

 navbar
 {
    display: flex;
    justify-content: end;
    background-color: var(--main-color1);
 }

 .navlink
 {
    color: white;
    text-decoration: none;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 12px;
 }

 .navlink:last-of-type
 {
    padding-right: 10px;
 }

 .intro
 {
    color:white;
    background-color: var(--main-color2);
    width: 100vw;
    height: 100vh;
    text-align: center;
    padding-top: 40vh;
    padding-bottom: 50vh;
 }

 .subintro
 {
    color: var(--main-color3);
    margin-top: 7px;
    font-style: italic;
 }

 .projects
 {
  background-color: var(--main-color3);
  width: 100vw;
  height: 160vh;
 }

 .projectlist
 {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-column: repeat(5,1fr);
 }
 .projects img
 {
    object-fit: cover;
    border-radius: 5% 5% 0% 0%;
  height: 85%;
  width: 100%;
 }

 .project{
    border-radius: 5%;
    margin-top: 10px;
    background-color: var(--main-color2);
    text-align: center;
    width: 190px;
    height: 210px;
    
 }



 .project:first-of-type
 {
    grid-row: 1;
    grid-column: 2;
 }

 .project:nth-of-type(2)
 {
    grid-row: 1;
    grid-column: 3;
 }

 .project:nth-of-type(3)
 {
    grid-column: 4;
    grid-row: 1;
 }
 .project:nth-of-type(4)
 {
    grid-column: 2;
    grid-row: 2;
 }
 .project:nth-of-type(5)
 {
    grid-column: 3;
    grid-row: 2;
 }
 .project:nth-of-type(6)
 { 
    grid-column: 4;
    grid-row: 2;
 }

 legend
 {
    padding-top: 6px;
    padding-bottom: 0px;
    color: white;
    font-size: 12px;
 }

 a
 {
    text-decoration: none;
 }

 .projecttitle
 {
    text-align: center;
    color: var(--main-color1);
    padding-top: 20px;
    padding-bottom: 15px;
    text-decoration: underline;
    font-size: 20px;
 }

 .navlink:hover{
    background-color: var(--main-color3);
    color: var(--main-color1);
 }

 .showall
 {
    display:flex;
    justify-content: center;
    margin-top: 30px;
 }

 button
 {

    background-color: var(--main-color2);
    color: white;
    width: 80px;
    height: 20px;
    border-radius: 7%;
    margin-left: 10px;
    margin-right: 10px;
    border: 2px solid var(--main-color2);
 }

 button:hover
 {
    cursor: pointer;
    animation:0.5s linear forwards buttonanim ;
 }

.code
{
    opacity: 0;
    color: var(--anim-color1);
}

.project:hover .code{
    animation: 0.5s linear forwards codetext;
 }

 @keyframes buttonanim {
    0% 
    {
        background-color: var(--main-color2);
    }
    100%
    {
        color: var(--main-color3);
        background-color: var(--main-color1);
        border: 2px solid var(--main-color2) ;
    }
 }

 @keyframes codetext {
    0%
    {
        opacity: 0;
    }
    100%
    {
        opacity: 1;
    }
 }
